BasedOnStyle: LLVM
BreakBeforeBraces: Custom
ColumnLimit: 126
IndentWidth: 4
TabWidth: 4
UseTab: Always
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterCaseLabel: false
  AfterClass: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: false
ContinuationIndentWidth: 0
IncludeBlocks: Regroup
IndentWrappedFunctionNames: false
PointerAlignment: Right
ReferenceAlignment: Right
RemoveBracesLLVM: true
SortIncludes: true
IncludeCategories:
  - Regex: '^<fcntl\.h>|^<signal\.h>|^<stdio\.h>|^<unistd\.h>|^<sys/.*\.h>'
    Priority: 1
  - Regex: '^<[a-z_]+\.h>'
    Priority: 2
  - Regex: '^<[a-z_]+>|^<chrono>|^<cstring>|^<fstream>|^<iostream>|^<thread>'
    Priority: 3
  - Regex: '^<boost/.*>'
    Priority: 4
  - Regex: '^<clickhouse/.*>|^<spdlog/.*>'
    Priority: 5
  - Regex: '^".*"'
    Priority: 6
AccessModifierOffset: -8
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignOperands: Align
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
DerivePointerAlignment: false
IndentCaseLabels: false
InsertBraces: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Standard: Latest
