Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-unix.Malloc,
  -clang-analyzer-unix.MallocSizeof,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-use-concise-preprocessor-directives,
  -bugprone-macro-parentheses,
  -readability-non-const-parameter,
CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: true
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
